input{
    border-radius: 10px;
}
body{
    background-color: rgb(145, 183, 230);
}
.all{
    margin-left: 550px;
    margin-top: 300px;
    display: flex;
}
.how{
     margin-left: 720px;
     font-size:xx-large;
}
.btn{
display: inline;
font-size: 15px;
background-color: rgb(245, 180, 134);
color: rgb(240, 240, 240);
margin-left:10px;
height: 80px;
width:200px;
border-radius: 10px;
box-shadow: 5px 5px 5px rgb(130, 129, 129);
}
.reverse{
    margin-left: 700px;
    font-size:xx-large;

}